@import url(./__item/places__item.css);
@import url(./__title/places__title.css);
@import url(./__img/places__img.css);
@import url(./__links/places__links.css);
@import url(./__link-title/places__link-title.css);
@import url(./__link/places__link.css);
@import url(./__text/places__text.css);
@import url(./__text-paragraph/places__text-paragraph.css);


.places {
    display: grid;
    grid-row-gap: 80px;
    justify-content: center;
    width: calc(100% - 296px);
    padding-bottom: 92px; 
}

@media screen and (max-width: 1040px) {
    .places  {
        width: calc(100% - 96px);
        }
    }

@media all and (max-width: 800px) {
    .places  {
        width: calc(100% - 48px);
        padding-bottom: 88px;
        grid-row-gap: 72px;
        }
}

@media all and (max-width: 700px) {
    .places  {
        width: 100%;
        padding-bottom: 64px;
        grid-row-gap: 48px;        
        }
}