@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__img/lead__img.css);
@import url(./__img-caption/lead__img-caption.css);

.lead {
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    width: calc(100% - 296px);
}

@media all and (max-width: 1040px) {
    .lead {
        width: calc(100% - 96px);
        padding-bottom: 92px; 
        }
}
@media all and (max-width: 800px) {
    .lead {
        width: 100%;
        padding-bottom: 88px;
    }
}

@media all and (max-width: 430px) {
    .lead {
        padding-bottom: 64px;
    }
}