.lead__img-caption {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-top: 8px;
}

@media all and (max-width: 800px) {
    .lead__img-caption  {
        padding-left: 24px;
        }
}

@media all and (max-width: 425px) {
    .lead__img-caption  {
        padding-left: 16px;
        }
}