.cover__text {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    width: 360px;
    text-align: center;
}


@media screen and (max-width: 425px) {
    .cover__text {
        font-size: 14px;
        width: 90%;
        }
    }