@import url(./__link/cover__link.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);



.cover {
    max-width: 1184px;
    width: calc(100% - 96px);
    padding-bottom: 92px;        
    }

    @media screen and (max-width: 1040px) {
        .cover  {
            width: 100%;
            }
        }
    
    @media all and (max-width: 800px) {
        .cover {
            padding-bottom: 88px;
            }
    }
    
    @media all and (max-width: 425px) {
        .cover  {
            padding-bottom: 64px;                    
            }
    }
