@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__link/footer__link.css);
@import url(./__text/footer__text.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 96px);
    padding-bottom: 24px;
}

@media all and (max-width: 800px) {
    .footer {
        width: calc(100% - 48px);
        }
}

@media all and (max-width: 720px) {
    .footer  {
        flex-direction: column;              
        }
}

@media all and (max-width: 425px) {
    .footer  {
        width: calc(100% - 32px);
        }
}







