@import url(./__photo/photogrid__photo.css);

.photogrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    padding-bottom: 92px;
    
    width: calc(100% - 96px);
}


@media all and (max-width: 800px) {
    .photogrid {
        width: calc(100% - 48px);
        padding-bottom: 88px;
    }
}

@media all and (max-width: 430px) {
    .photogrid {
        width: calc(100% - 32px);
        padding-bottom: 64px;
    }
}


