.places__item {
    max-width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 47% 1fr;
    grid-template-rows: auto;
    grid-gap: 48px 4%;
}

@media screen and (max-width: 1040px) {
    .places__item  {
        grid-column-gap: 32px;
        }
    }

@media all and (max-width: 900px) {
    .places__item  {
        grid-column-gap: 28px;        
        }
}

@media all and (max-width: 700px) {
    .places__item   {
        grid-template-columns: 100%;
        grid-row-gap: 32px;      
        }
}